* {
    box-sizing: border-box;
}
html, body{
    margin: 0px;
    padding: 0;
	border: 0;
}
a {
    text-decoration: none;
    color: white;
}
ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0px 0px 200px 0px;
}
.hid {
    display: flex;
    justify-content: space-between;
    width: 38em;
}
h1, h2 {
    color: white;
    margin: 0px 0px 20px 0px;
}
.hero {
    background-image: url(./assets/Desktop_Backgrounds_1920x1200_6\ 3Back.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    text-align: center;
}
.main {
    background-color: #EEEEEE;
    text-align: center;
    padding: 50px 0px;
}
.p-class {
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto;
}
.grid-item {
    padding: 20px;
    font-size: 16px;
    text-align: center;
    width: 408px;
}
.read-more {
    background-color: #55C2D8;
    border-radius: 18px;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    transition: transform 0.5s ease;
}
.read-more:hover {
    transform: rotate(10deg);
    transform-origin: 0% 100%;;
}
.learn {
    background-image: url(./assets/Rectangle\ 5learn.png), url(./assets/IMG_1334_72dpi_RGB_\ 1.png);
    text-align: center;
    padding: 80px 0px;
}
.learn-button {
    position: relative;
    border: 0; 
    background: transparent;
    margin: 60px 0px;
    cursor: pointer;
    width: 145px;
    height: 143.47px;
    border-radius: 50%;
    background-color: #39C2D7;
    font-size: 70px;
    color: white;
    transition: width 0.5s, height 0.5s, color 0.5s, background-color 0.5s;
}
.learn-button:hover {
    background-color: white;
    color: #39C2D7;
    width: 140px;
    height: 135.47px;
}
footer {
    background-color: #464547;
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 50px 80px 100px 150px;
    height: 250px;
}
.special {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.special2 {
    display: flex;
    align-items: center;
}
.small-img {
    width: 20px;
    margin-right: 10px;
}
.grid-item4 {
    align-self: flex-end;
}
.mobile1 {
    display: none;
}
.big-img {
    width: 70px;
    margin-bottom: 20px;
    transition:  width 1s, transform 1s;
}
.big-img:hover {
    transform: rotate(1deg) scaleX(-1);
    width: 55px;
    cursor: pointer;
}

.hoverimg {
    position: absolute;
}
.hoverimg:hover {
    margin-right: 2%;
    height: 16%;
    cursor: pointer;
}


@media only screen and (max-width: 768px) {
    .hid {
        display: none;
    }
    .mobile1 {
        display: block;
        margin-right: 1em;
    }
    ul {
        justify-content: space-between;
        margin: 0px 0px 100px 0px;
    }
    .p-class {
        display: flex;
        flex-direction: column;
    }
    .grid-item {
        padding: 8px;
        font-size: 14px;
        text-align: center;
        width: 18rem;
    }
    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 39px 50px 31px 50px;
    }
    .grid-item4 {
        /* align-self: flex-end; */
        text-align: center;
    }
    .special {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
}